.FilterButton {
  margin-top: 10px;

  button {
    font-size: 12px;
    font-weight: 400;
    color: #fff;

    background-color: #4b51ef;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
  }
}
